// global styles
a { 
    cursor: pointer; 
    text-decoration: none;
}

.app-container {
    min-height: 320px;
}

// .admin-nav {
//     padding-top: 0;
//     padding-bottom: 0;
//     background-color: #e8e9ea;
//     border-bottom: 1px solid #ccc;
// }

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.full-height {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum full viewport height */
}

.overflow-hidden {
    overflow: hidden;
}

.sideBarBtn:hover{
    opacity: 50%;
}